@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Contact";
}
<h1>Secure Contact Page.</h1>

<a asp-area="" asp-controller="Home" asp-action="CallApiUsingUserAccessToken">Call API</a>